
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="styles');

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}
/* Se establece la imagen de fondo corpoativa*/
body {
	margin: auto;
	padding: auto;
	/*background: url("../img/fondo-06.jpg");*    coloca una imagen a todo lo que esta en el body 
	background-size: cover;
	background-position: center;*/
}

/* Creacion de Variables*/
:root {
	--color-text-primario: #0d1A94;
	--color-text-segundario:black;
	--color-text-tercero: #74b4f0;
	--main-color-primario: #9A00BF;
	--main-color-secundario: #F4D4FB;
	--fondo-color: #FAFBFC;
	--lowtext-font-size: 16px;
	--text-size-title:30px;
	--text-title-card: 20px;
	--text-title-cardv2:20px;
	--text-paragrah: 20px;
	--box-shadow-primary: 0px 6px 50px -20px rgba(8, 8, 5, 0.2);
}


/* ver bien como actua esta opcion
.header{
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 100;
}*/


.boton_cotizar{
	display: block;
	padding: 8px 30px;
	border:  1px solid var(--main-color-primario);
	border-radius: 8px;
	font-weight: 10px;
	margin: 0px 10px; 
	color:black;
	transition: all 300ms;
}

.boton_cotizar:hover{
	color: white;
	background: rgb(109, 71, 214);
}  

/*definicion de portada de inicio*/
.container-cover{
	padding-top: 10px;
	/*padding-bottom: 100px;*/
	background: linear-gradient(to bottom ,rgb(0 0 0/.5),rgb(0 0 0 / .5)), url("../img/fondo-bodeg-01.png"); 
	/* 	coloca una imagen solo en una parte del formulario
		en este caso en la pantalla principal del (<main>)
		background: var(--main-color-secundario);  */

		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		color:#ffffff		
}

.cover{
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
	display: flex;
	align-items: center;
	padding: 0px 20px;
}

.text-cover{
	width: 100%;
	padding-right: 120px;
}

.text-cover h1{	
	/*background-color:rgba(8, 8, 5, 0.3);*/
	color:rgba(165, 217, 241, 0.945);	
	text-shadow: 0 0 8px rgba(87, 87, 85, 0.8);
	font-weight: bold;
	font-size: 70px;
	
}
.text-cover p{	
	font-family: 'Franklin Gothic Medium';
	font-size: 20px;
	margin-top: 20px;	
	color:rgba(235, 238, 240, 0.945);
	text-shadow: 0 0 8px rgba(10, 10, 10, 0.8);
	text-align: left;
	position: 100px;		
}

.image-cover-fondo-linea{
	/*coloca las imagenes en forma RESPONSIVE*/
	width: 100%;
} 

.image-cover-fondo-linea img{
	padding: 0px;
	position: 20px;
	width: 340px;
	height: 500px;
}

/* linea e ryp*/
.boton-text{
	display: block;
	width: 150px;
	margin-top: 40px;
	padding: 10px 20px;
	text-align: center;
	font-weight: 500;
	background: var(--main-color-primario);
	color: white;
	border-radius: 8px;
	border: 2px solid transparent;
	cursor: pointer;
	transition: all 300ms;
}

.boton-text:hover{
	background: transparent;
	border: 2px solid black;
	color: var(--color-text-primario);
}


/* Estilos Geenrales  segunda parte */
/*formato de ancho de pagina con su respectivo color o imagen de fondo*/
.container-trust {
	max-width: 1200px;
	margin: auto;
	background-color: #98e6ec;
	background: linear-gradient(
		90deg, #859398 30%,
        rgb(240, 245, 245)50%);

	/*background: linear-gradient(to right, #859398,#dce9e8);*/
}

.container-card-primary{
	padding-top: 100px;
}

.card-primary{
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0px 25px;
	background: linear-gradient( /* se define el color de fondo del tooltips ( degradado en gris*/
	90deg, #859398 20%,
	rgb(240, 245, 245)40%);
}

.text-card-primary{
	/*max-width: 1200px;*/
	margin: auto;
}

/*Configuracion de Titulos*/
.text-card-primary p{
	color: var(--color-text-primary);
	letter-spacing: 4px;
	font-size: 18px ;
	font-weight: 500;
	padding: 30px;
}

.text-card-primary h1{
	font-size: var(--text-size-title);
	font-weight: 600;
	color: var(--color-text-segundario);
}

.container-box-cardPrimary{
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.box-card-primary{
	/* Creacion del block ancho y alto*/
	display: block;
	max-width: 1000px; /*tama単o del box*/
	padding: 40px 30px; /*ancho y alto de posicion de imagen*/
	border: 1px solid rgb(12, 12, 12); 
	border-radius: 20px;
	margin: 18px;
	transition: all 300ms;
	position: relative;
}

.box-card-primary img{
	/* centra una imagen dentro del block 
	ademas le damos el tama単o que deseas NO se nesecita el padding
	el tama単o del block es el que manda*/
	
	width: 300px;	
	height: 200px;
	margin-right: 15px;
	border-radius: 20px;
	border: 3px solid white;
	float:left
}

.box-card-primary:hover{
	border: 0px solid rgb(34, 33, 33);
	box-shadow: var(--box-shadow-primary);	
	cursor: pointer;
}

.box-card-primary h2{	
	font-size: 35p;
	margin-top: 30px;
	font-weight: 500;
	position: absolute;
	top: 10px;
	left: 350px;
	color:black
}

.box-card-primary p{
	/*margin-top: 40px;*/
	text-align: center;
	top: 500px;
	left: 300px
}


/* Seccion sobre la Empresa*/
.container-about{
	padding: 100px 0px;
	background: rgb(243, 237, 237);
	margin-top: 100px;
}

.about{
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-about{
	width: 100%;
	padding-right: 40px;
}

.text-about h1{
	color : var(--text-paragrah);
	font-weight: 600px;
}

.text-about p{
	font-size: var(--text-paragrah);
	margin-top: 40px;
	color: var(--color-text-tercero);
}

.image-about{
	width: 90%;
	display: flex;
}

.image-about img{
	/* le damos el tama単o de imagen y la separacion entre 
	cada imagen */
	padding: 10px;
	width: 250px;
}

/*  Servicios */
.card-service img{
	width:50px;
}

.card-service i{
	font-size: 24px;
	margin-top: 20px;
	cursor:pointer
}
	




