/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.pie-pagina {
    background-color: #000000;
    padding: 20px 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.pie-pagina a {
    text-decoration: none;
    color: #8b949e;
}

.pie-pagina a:hover {
    color: #ffffff;
}

.grupo-1 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px; 
}

.box, .box-2, .box-3 {
    flex: 1; 
    min-width: 300px;
    margin-bottom: 10px;
}

.box h2, .box-2 h2, .box-3 h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff;
}

.box p, .box h5, .box-3 h5 {
    margin-bottom: 10px;
    color: #8b949e;
}

.red-social .row, .red-wa-mail .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.red-social .row a, .red-wa-mail .row a {
    margin-right: 5px;
}

.grupo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.grupo-2 .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.red-wa-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.grupo-3 {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #30363d;
    margin-top: 10px;
}

.grupo-3 small {
    color: #8b949e;
}

figure img {
    width: 300px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .pie-pagina {
        padding: 10px;
    }

    .logo-container {
        position: static;
        margin-bottom: 20px;
    }

    

    .box, .box-2, .box-3 {
        min-width: 100%;
    }

    .red-social .row, .red-wa-mail .row {
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .pie-pagina {
        padding: 5px;
    }

    .logo-container {
        position: static;
        margin-bottom: 10px;
    }

    .box h2, .box-2 h2, .box-3 h2 {
        font-size: 14px;
    }

    .red-social .row a, .red-wa-mail .row a {
        margin-right: 3px;
    }

    figure img {
        width: 100%;
    }
}