/*Estructura de un menu principal con una estructura RESPONCIVE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*se define el ancho total de la pagina */
.contenedor-menu {
    max-width: 1200px;
    margin: 0 auto;   
}


/*Se define un background del Box con su respectivo (alto o height)*/
.content-menu {
    min-height: 90px;
    background: rgb(237, 218, 12)!important
}

/*Se centra y justica la posicion del las opciones del barnav* (RESPONCIVE)*/
.menu-m {
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
 
.menu-m .navbar-main ul li {
    position: relative;
    float: left;
   
}

/* Se define el tipo o familia de letras, el tamaño, y centrado de esta, color y sin subrayado*/
.menu-m .navbar-main ul li a {
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    padding: 0 20px;
    color: rgb(33, 36, 41);   
    display: block;
    text-decoration: none;
    font-weight: normal; /* Aseguramos que no esté en negrita */    
}

/*Se define el color:background del la letra, cuando pasa el mouse sobre ella */
.menu-m .navbar-main ul li a:hover {
    color: aliceblue;	
}
 
#menu-m {
    display: none;
}

.menu-icono {
    width: 25px;
}

/* tamaño de logo en menuvar */
.menu-ppal {
    width: 210px;
    height: 75px;
}

.menu-m label {
    cursor: pointer;
    display: none;
}

/*logo provisorio conh1*/
.menu-m h1 {
    font-style: italic;
    width: 50px;
    padding: 0;
    color: rgb(15, 2, 2);
}

/* Media query para pantallas con un ancho máximo de 1000px */
@media (max-width: 940px) {
    .content-menu {
        min-height: 100px;
    }
    .menu-m {
        top: 0;
        padding: 15px;
    }
    .menu-m .navbar-main ul li a {
		margin-top: 5px;
        font-size: 18px; /* Reduce el tamaño de la fuente */
        padding: 0 10px; /* Reduce el padding */
        font-family: 'Gill Sans', sans-serif; /* Aseguramos la misma tipografía */
        font-weight: normal; /* Aseguramos que no esté en negrita */
    }
}

/* Media query para pantallas con un ancho máximo de 700px */
@media (max-width: 700px) {
    .content-menu {
        min-height: 100px;
    }
    .menu-m {
        top: 0;
        padding: 15px;
    }
    .menu label {
        display: initial;
    }
    .menu-m .navbar-main {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(237, 218, 12);
        display: none;
    }
    .menu-m .navbar-main ul li {
        width: 100%;
    }
    .menu-m .navbar-main ul li a {
        font-family: 'Gill Sans', sans-serif; /* Aseguramos la misma tipografía */
        font-weight: normal; /* Aseguramos que no esté en negrita */
    }
    #menu-m:checked ~ .navbar-main {
        display: initial;
    }
}