@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="styles');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

.contenedor-primario-section3{  	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 800px;
    padding-top: 10px;	
	background: linear-gradient(to bottom ,rgb(0 0 0/.1),rgb(0 0 0 / .1)), url("../img/fondo-08png.png"); 	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;		
	color:#ffffff;	
}

.contenedor-primario-section3 .text-head{
	display: block;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 10px 10px;
}

.text-head h1{	
    padding: 10px;
    text-align: center;
	font-size: 30px;
	font-weight: 60px;
	color:rgba(74, 175, 53, 0.945);	
	text-shadow: 0 0 8px rgba(80, 57, 57, 0.8);
}

.text-head p{
	text-transform: uppercase;	text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 100;
    padding: 30px;	
}

.img-deslice{
	position: relative;	
	width: 400px;
	height: 400px;
	margin: 10px;			
	justify-content: center;	
	align-items: center;
	background: rgb(0 0 0 / .4);
}

.img-deslice .deslice{
	z-index: 1;	
	position: absolute;
	width: 100%;	
	clip-path: circle(0% at 0 50% );
}

.img-deslice .deslice.active{	
	clip-path: circle(150% at 0 100%);
	transition: 2s;
	transition-property: clip-path;	
}

.img-deslice .deslice img{
	z-index: 1;
	width: 400px;
	height: 400px;
	border-radius: 10px;	
}

.img-deslice .deslice .info{
	position: absolute; 
	top: 0;
	padding: 15px 30px;
}

.img-deslice .deslice .info h2{
	color:rgba(8, 8, 8, 0.9);	
	text-shadow: 0 0 8px rgba(80, 57, 57, 0.8);
	font-size: 25px;
	letter-spacing: 2px;
	margin-left: 0px;
}

.img-deslice .deslice .info p{
	color:rgba(5, 5, 5, 0.9);	
	text-shadow: 0 0 8px rgba(51, 41, 41, 0.8);
	font-size: 10px;
	padding: 5px;
}

.img-deslice .navigation{
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}

.img-deslice .navigation .btn{
	background: rgba(74, 175, 53, 0.945);	
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

@media ( max-widht: 820px){
	.img-deslice{
		width: 600px;
		height: 375;
	}

	.img-deslice .deslice .info{
		padding: 10px 25px;
	}
}


/*---------------------------------*/
/*--style for carousel 2--*/
.container {
	min-height: 50vh;
	background: linear-gradient(to bottom ,rgb(0 0 0/.1),rgb(0 0 0 / .1));	
	/*background-image: linear-gradient(-45deg,#e3ddd9,#36221c 50%);*/
}

.titulo{
	font-size: 40px;
	font-family: "Poppins", sans-serif;
	margin-bottom: 40px;
	color: #fff;
}

.subtitulo-1{	
	color: #398139;
	font-size: 30px;
	font-weight: 500;	
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); 
	text-transform: uppercase;
	margin: 10px 0;
}

.sabor{
	color: #fff;
	margin: 7px 0;
	font-size: 30px;
	font-weight: 600;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7); 
	margin-top: 0;
}

.linea-division{
	width: 80%;
	height: 2px;
	background-color: #36221c; 
}

/*---------------------------------*/
/*--style materialize--*/

.carousel {	
	min-height: 350px;
}

.carousel .carousel-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 350px;
	height: 350px;
}

.carousel .carousel-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 20px;
}

.carousel .indicators .indicator-item{
	border-radius: 0;
	transform: rotate(45deg);
	margin: 0px 15px;	
	background-color: #ec5628;
}