@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="styles');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

body{
    justify-content: center;
	align-items: center;
	width: auto;
	height: 800px;
    padding-top: 10px;	
	background: linear-gradient(to bottom ,rgb(0 0 0/.2),rgb(0 0 0 / .2)), url("../img/imagen-corporativo-01.jpg"); 	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;		
	color:#ffffff;
}

.box_slider {
    width: 100%;  
    align-items: center;
    justify-content: center;
}

.box_slider .box_slider-text p {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;	text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 100;        
}

.box_slider .box_slider-text h1 {
    font-family: "Poppins", sans-serif;   
    padding: 10px;
    text-align: center;
	font-size: 30px;
	font-weight: 100px;
    color:rgba(228, 182, 30, 0.945);		
	text-shadow: 0 0 8px rgba(8, 8, 8, 0.5);    
}

.box_slider-images{
    width: 100%;
    height: 100%;
    display: inline;
}

.box_slider-images img{   
    width: 340px;
    height: 450px;
    margin: 40px 50px 50px 50px ;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    border: 3px solid white;   
    box-shadow: 0 4px 15px rgba(0, 0, 0,0.5);  
}
